.bg-edt{
    background-image:url('dark-ntr.png');
    background-size: cover;
    background-position: center;
    padding: 15%;  
}
.butn{
   margin-top: 50px;
   padding:80px;
   margin-left: 120px;
   width: fit-content;
   border-radius: 70px;
   font-size: larger;
   border-style:solid;
}
.but{
   margin-left: 260px;
   padding:80px;
   width: fit-content;
   border-radius: 70px;
   font-size: larger;
   border-style:solid;
    
}